
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 82px;
}

body {
  font-family: 'Lora', serif;
  overflow-x: hidden;
  background-color: #F2F1EC;
  color: #333;
}



.sticky-body {
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.header {
  position: relative;
  background-image: url('../img/2.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  color: #fff;
  z-index: 0;
  text-align: center;
  overflow-x: hidden;
  .wrapper {
    height: 100%;
  }

  &__shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
    z-index: -1;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 8em 3em 5em 3em;
  }

  &__title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
  }

  &__title {
    font-size: 4.8rem;
    font-family: 'Abril Fatface', serif;
    font-weight: normal;
  }

  &__title-info {
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__phone-number {
    font-size: 1.6rem;
  }

  &__underline {
    width: 40px;
    height: 2px;
    background-color: #fff;
  }

  &__info-box {
    margin-bottom: 2em;
    font-size: 1.6rem;
  }

  &__info-time {
    text-transform: uppercase;

    &--bold {
      font-weight: bold;
    }
  }

  &__info-summer-season {
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__description {
    margin-bottom: 2em;
    font-size: 1.4rem;
  }

  &__description-info:nth-child(1) {
    margin-bottom: .5em;
  }

  &__button-contact {
    padding: .5em 1em;
    color: #333;
    background-color: #fff;
    border: none;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 'Abril Fatface', serif;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: background-color .3s, border .3s;
    z-index: 0;

    &:hover {
      background-color: #d3ccaa;
      border: 1px solid black;
    }
  }

  &__link {
    color: #fff;

    i {
      font-size: 25px;
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 0;
  }

  &__icons {
    display: none;
  }
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%; 
  padding: 2em 2em 1.5em 1.5em;
  background-color: rgba(0,0,0,.75);
  z-index: 10;

  .wrapper {
    display: flex;
  justify-content: flex-end;
  }
  &__btn {
    position: relative;
    top: 0;
    padding: 0.25em 0.5em;
    font-size: 2.4rem;
    right: 0;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    z-index: 11000;
  }

  &__box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    background-color: #F2F1EC;
    
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1000;
  }

  &__item {
    margin-top: 5em;
    list-style-type: none;
  }

  &__item:nth-child(1) {
    margin-top: 0;
  }

  &__link {
    padding: .5em 1em;
    text-decoration: none;
    color: #333;
    font-family: 'Abril Fatface', serif;
    text-transform: uppercase;
    font-size: 2.8rem;

    
  }
}
.doodle {
  overflow-x: hidden;
  img {
    height: 50px;
  }
}

.aboutus {
  margin: 0 auto;
  padding: 3em;
  

  &__title {
    
    font-size: 3.4rem;
    font-weight: bold;
    font-family: 'Abril Fatface', serif;
  }

  &__title-info
   {
    
    font-size: 1.4rem;
   }

   

   &__infos {
    margin: 3em 0 1em 0;
   }

   &__main-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
   }

   &__info {
    font-size: 1.6rem;
   }

   &__img {
    margin-top: 2em;
    img {
      height: 200px;
      width: 100%;
      object-fit: cover;

     }
   }

}

.offer {
  padding: 3em;

  &__title {
    font-size: 3.4rem;
    font-weight: bold;
    font-family: 'Abril Fatface', serif;
  }

  &__title-sub {
    font-size: 1.4rem;
  }

  &__info {
    margin: 1.5em 0;
    font-size: 1.6rem;
  }

  &__info-tourists {
    padding: 1em;
    background-color: #fff;
  }

  &__add {
    text-align: center;
    font-size: 1.4rem;
    color: #333;
    font-weight: bold;

    &-bottom {
      margin-bottom: 2em;
    }
  }

  &__img {
    img {
      width: 100%;
      height: 130px;
      object-fit: cover;
    }
  }
}

.contact {
  padding: 3em;

  &__title {
    margin-bottom: 1em;
    font-size: 3.4rem;
    font-weight: bold;
    font-family: 'Abril Fatface', serif;
    text-align: center;
  }

  &__infos {
    padding: 1em 0;
    margin-bottom: 5em;
    text-align: center;
    background-color: #fff;
  }

  &__address-title, &__hours-title, &__contact-title, &__socials-title {
    font-size: 2.2rem;
    font-weight: bold;
    font-family: 'Abril Fatface', serif;
  }

  &__box {
    margin: 2em 0
  }

  &__info {
    font-size: 1.6rem;
  }

  &__hours-more {
    font-weight: bold;
    font-size: 1.4rem;
  }

  &__link {
    font-size: 2rem;
    color: #333;
    transition: color .3s;
  }

  &__links {
    margin-top: 1em;
  }

  &__link--fb {
    margin-right: 1em;
  }

  &__map {
    height: 300px;
    width: 100%;
  }
}

.map {
  height: 100%;
  width: 100%;
}



.active {
  display: block;
}

.btn-color {
  color: #333;
}

.footer {
  margin-top: 2em;
  padding: 2em;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 1.4rem;
   a {
    color: #d3ccaa;
   }
}


@media (min-width: 568px) {
  .header {
    
    &__title {
      font-size: 6.8rem;
    }

    &__title-info {
      font-size: 1.8rem;
    }
  }

  .nav {
    &__btn {
      font-size: 3.2rem;
    }
  }

  .aboutus {
    &__img {
      img {
        height: 300px;
      }
    }
  }

  .offer {
    
    &__img {
      img {
        height: 180px;
      }
    }
  }

  .contact {
    &__title {
      font-size: 5rem;
      margin-bottom: 0.5em;
    }
  }

  
}

@media (min-width: 768px) {
  .header {
    &__box {
      padding: 12em 3em 5em 3em;
    }

    
  }
  .aboutus {
    padding: 3em 5em;
    &__title {
      font-size: 4rem;
    }
  }

  .offer {
    padding: 3em 5em;
    &__title {
      font-size: 4rem;
    }
    &__img {
      img {
        height: 240px;
      }
    }
  }

  .contact {
    padding: 3em 5em;
  }
}


@media (min-width: 992px) {
  .nav {
    
    right: 0;
    padding: 3em 4em;
    &__btn {
      display: none;
    }

    &__box {
      display: flex;
      justify-content: flex-end;
      
      position: static;
      height: auto;
      background: none;
    }

    &__items {
      flex-direction: row;
    }

    &__item {
      margin-top: 0;
      
    }

    &__link {
      color: #fff;
      font-size: 2.4rem;
      transition: background-color .3s, color .3s;

      &:hover {
        background-color: #d3ccaa;
        color: #333;
      }
    }
  }

  .header {
    &__box {
      padding: 13rem 10rem 10rem 10rem;
    }

    &__title {
      font-size: 10rem;
    }

    &__title-info {
      font-size: 2.4rem;
    }

    &__underline {
      width: 55px;
      height: 3px;
    }

    &__info-box {
      font-size: 2rem;
    }

    &__info-summer-season {
      font-size: 1.6rem;
    }

    &__description {
      font-size: 1.8rem;
    }

    &__icons {
      display: flex;
      position: absolute;
      left: 0;
      gap: 3rem;
      height: 100%;
      align-items: center;

      i {
        font-size: 3.6rem;
        transition: color .3s;

        &:hover {
          color: #d3ccaa;
        }
      }
    }
  }

  .doodle {
    img {
      height: 90px;
    }
  }

  .aboutus {
    padding: 10em;
    

    &__title {
      font-size: 5rem;
    }

    &__title-info {
      font-size: 1.6rem;
    }

    &__info {
      font-size: 1.8rem;
    }

    &__infos {
      margin: 5em 0 3em 0;
    }

    &__boxes {
      display: flex;
      margin-top: 4em;
      gap: 7em;
    }

    &__main-box {
      justify-content: space-around;
      width: 49.5%;
    }

    &__img {
      display: flex;
      margin-top: 0;
      width: 50%;
      

      img {
        height: auto;
      }
    }
  }

  .offer {
    padding: 10em;
    &__img {
      img {
        height: 330px;
      }
    }
    &__title {
      font-size: 5rem;
    }

    &__title-sub {
      font-size: 1.6rem;
    }

    &__info {
      font-size: 1.8rem;
    }

    &__info-tourists {
      text-align: center;
      padding: 2em 10em;
      
    }

    &__add {
      font-size: 1.6rem;
    }

    &__img {
      img {
        height: 500px;
      }
    }
  }

  .contact {
    padding: 10em;

    &__title {
      margin-bottom: 1em;
    }

    i {
      font-size: 3rem;
      transition: color .3s;

      &:hover {
        color: rgb(180, 187, 157);
      }
    }

    &__address-title, &__hours-title, &__contact-title, &__socials-title {
      font-size: 3rem;
    }

    &__info {
      font-size: 1.8rem;
    }

    &__main-box {
      display: flex;
      gap: 3em;

    }

    &__infos {
      padding: 4em 0;
      margin-bottom: 0;
      width: 50%;
    }

    &__map {
      height: auto;
      width: 50%;
    }
  }
}

@media(min-width: 1200px) {
  .nav {
    &__link {
      font-size: 2.8rem;
    }
  }

  .header {
    &__box {
      padding: 15rem 15rem 10rem 15rem;
    }

    &__title {
      font-size: 13rem;
    }

    &__title-box {
      margin-bottom: 4em;
    }
    &__info-box {
      margin-bottom: 3em;
    }

    &__description {
      margin-bottom: 4em;
    }

    &__button-contact {
      padding: .75em 2em;
      font-size: 2rem;
    }
  }

  .aboutus {
    &__img {
      max-height: 335px;
    }
  }
}
